<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nju.edu.graduation.dao.AuthorizationDao">
    <select id="GetById" parameterType="int" resultType="Authorization">
        select * from authorization where id=#{id}
    </select>

    <!--添加新的授权许可申请-->
    <insert id="AddAuthorization" parameterType="Authorization">
        insert into authorization (patent, `from`, `to`, begin, end, date, amount) VALUES (#{patent},#{from},#{to},#{begin},#{end},#{date},#{amount})
    </insert>

    <!--获取发送给当前登录用户的所有授权申请-->
    <select id="getList" parameterType="int" resultType="Authorization">
        select * from authorization where `to`=#{to} and status=0
    </select>

    <select id="list" parameterType="int" resultType="Authorization">
        select * from authorization where patent=#{patent} and status=1
    </select>

    <update id="confirm" parameterType="int">
        update authorization set status=1 where id=#{id}
    </update>

    <update id="cancel" parameterType="int">
        update authorization set status=-1 where id=#{id}
    </update>

    <update id="change" parameterType="Map">
        update authorization set `to`=#{to} where patent=#{patent} and status=0
    </update>
</mapper>