<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nju.edu.graduation.dao.UserDao">
    <!--根据用户id获取用户详情-->
    <select id="GetById" parameterType="int" resultType="User">
        select * from user where id=#{id}
    </select>
    
    <select id="Login" parameterType="User" resultType="User">
        select * from user where name=#{name} and password=#{password}
    </select>

    <update id="pay" parameterType="Map">
        update user set account=account-#{amount} where id=#{id}
    </update>

    <update id="get" parameterType="Map">
        update user set account=account+#{amount} where id=#{id}
    </update>

    <select id="getOther" parameterType="int" resultType="User">
        select * from user where id!=#{id}
    </select>
</mapper>